@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased select-none;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
}
